/* Variaveis */
:root 
{
    --clrBack: #181424;
    --clrGradi: #2F1538;
    --clrLogo: #880484;
    --clrRol1: #403454;
    --clrDetails: #038C73;
    --clrClickDetails: #054136;
    --clrFooter: #baa0f240;
    --clrDashBack: #038c7366;
    --clrTituloDash: #610083;
}