@import url(../variaveis.css);

*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body
{
    overflow: hidden;
    background-image: linear-gradient(var(--clrBack), var(--clrGradi));
}

.janela
{
    width: 100vw;
    height: 100vh;
}

.header 
{
    padding: 0.4rem 0;
    width: 100%;
}

.container 
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .container .log-out 
{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.1rem;
    height: 5rem;
    color: white;
    font-weight: 900;
    border-radius: 0.1rem;
    border: unset;
    cursor: pointer; 
    text-transform: uppercase;
    background-image:linear-gradient(to right bottom, #461059c0, #038C73);
    border-radius: 10px;
}

.header .container .log-out:hover
{
    background-image:linear-gradient(to left bottom, #461059bb, #038C73);
}

.totens
{
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.circle
{
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.1rem;
    height: 5rem;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    border: unset;
    cursor: pointer;
    background-image:linear-gradient(to left bottom, #4610599a, #038C73);
}

.circle:hover
{
    background-image:linear-gradient(to top right, #4610599d, #038C73);
}

.header .container .totem 
{
    width: 20%;
    height: 4rem;
    background-color: var(--clrRol1);
    border: 0.3em solid var(--clrGradi);    
    color: white;
    font-weight: 900;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
}

.header .container .totem:active
{
    background-color: #342a42;
    border-color: #26102c;
}

.dash-informations
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header-left
{
    width: 25%;
    height: 85%;
    display: flex;
}

.header-left .container
{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    flex-flow: wrap;
}

.cards
{
    background-color: var(--clrDetails);
    width: 70%;
    height: 20%;
    margin: 1rem auto;
}
.header-left .container::-webkit-scrollbar 
{
    width: 5px;              
}
  
.header-left .container::-webkit-scrollbar-track 
{
    background: var(--clrLogo);        
}
  
.header-left .container::-webkit-scrollbar-thumb 
{  
    border-radius: 20px;      
    border: 3px solid var(--clrRol1);  
    background-color: var(--clrDetails);
    animation: scrollBody 3s linear infinite;
}

.header-right
{
    width: 70%;
    height: 80%;
    background-image:linear-gradient(to bottom left, #46105963, #46105963, #038C73);
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.329);
}

.dashboards 
{
    padding: 1rem 0;
    width: 100%;
}

.dashboards .container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
}

.box1 
{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
}

.box2
{
    padding: 1rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.dash
{
    margin-left: 1rem;
}

.first 
{
    width: 30%;
}

.second 
{
    width: 60%;
}

.third 
{
    width: 40%;
}

.fourth 
{
    width: 40%;
}
