@import url(../variaveis.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html 
{ 
    scroll-behavior: smooth;
}

body 
{
    background-image: linear-gradient(var(--clrBack), var(--clrGradi));
    transition: 1s;
}

/* Header */
.header 
{
    background-color: var(--clrBack);
}

.header .container 
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header .logo 
{
    position: relative;
    padding: 0 1em;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .icon 
{
    position: relative;
    display: block;
    font-size: 1.5em;
    text-align: center;
    color: var(--clrBack);
    color: var(--clrLogo);
    margin-top: 3px;
}

.logo .text {
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 1000;
    color: white;
    text-align: left;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.navigation 
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 2.2rem 0; 
    padding: 0 1em;
}

.navigation ul
{
    display: flex;
}

.navigation ul li
{
    list-style: none;
    z-index: 1;
    font-family: 'Work Sans', monospace;
}

.navigation ul li a
{
    padding: 0 0.5rem;
    text-decoration-line: none;
}

.opcoes
{
    color: white;
}

.atual
{
    font-weight: 1000;
    background-color: white;
    color: var(--clrBack);
    border-radius: 0.2rem;
}

/* Carousel */
.item
{
    display: flex;
    flex-wrap: wrap;
}

.background-full
{
    background-color: var(--clrRol1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background-full .imagem-carousel1
{
    background-image: url("../assets/Film\ rolls-pana.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
    width: 35%;
    margin: auto;
}

.background-full .texto-carousel
{
    height: 80%;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.background-full .texto-carousel span
{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    font-style: italic;
    
}

.background-full .texto-carousel .texto-carousel-principal
{
    font-weight: bold;
    font-size: 170%;
    font-style: normal;
    text-shadow: 2px 2px 1px black;
}

.background-full .texto-carousel div
{
    background-image: url("../assets/monitor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 358px;
    position: absolute;
    transform: scale(0.4); 
    top: 20%;
    right: 25%;
}

@media only screen and (max-width: 800px) 
{
    .background-full .texto-carousel div
    {
        transform: scale(0.3);
        right: 20%;
    }
}

.gallery .controls .autoplay-button
{
    font-size: 10px;
    margin-left: 10px;
}

/* Serviços */
.servicos 
{
    padding: 10px 0 50px 0;    
}
  
.servicos .container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
}

.servicos .container .titulo
{
    font-size: 1.2em;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: white;
    letter-spacing: 0.1em;
    padding: 2rem 0;
}

.servicos .container .boxes 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicos .container .boxes .box
{
    width: 20%;
    background-color: var(--clrDetails);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap;
    transition: .5s;
}

.servicos .container .boxes .box:hover
{
    transform: scale(1.1);
}

@media only screen and (max-width: 800px) 
{
    .servicos .container .boxes
    {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) 
{
    .servicos .container .boxes .box
    {
        width: 80%;
        margin-bottom: 2em;
    }
}

.box img 
{
    height: 50px;
    width: 50px;
}

.box h3
{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 700;
    padding: 0.8em 0;
}

.box p
{
    font-family: 'Work Sans', sans-serif;
    color: white;
    line-height: 1.3rem;
}

.servicos .premise 
{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicos .premise img 
{
    width: 25rem;
    align-self: center;
}

@media only screen and (max-width: 800px)
{
    .servicos .premise img 
    {
    width: 15rem;
    align-self: center;
    }
}

@media only screen and (max-width: 900px)
{
    .servicos .premise img 
    {
    width: 10rem;
    align-self: center;
    }
}

.servicos .premise .box 
{
    width: 22rem;
    background-color: #baa0f241;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2.2rem;
    transition: .5s;
}

.servicos .premise .box p
{
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.servicos .premise .box .sign-up
{
    height: 2rem;
    background-color: var(--clrDetails);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: fit-content;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 75%;
    padding: 1.2rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 0px solid transparent;
    letter-spacing: 0.3px;
}

.servicos .premise .box .sign-up:active
{
    background-color: var(--clrClickDetails);
}

/* Carousel MVV */
.background-full-mvv
{
    background-color: var(--clrDetails);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background-full-mvv .texto-carousel
{
    height: 80%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.background-full-mvv .texto-carousel span
{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 120%;
    font-weight: 600;
    
}

.background-full-mvv .texto-carousel .texto-carousel-principal
{
    text-shadow: 1px 1px 1px black;
    font-weight: 900;
    font-size: 280%;
}

/* Tecnologias Utilizadas */
.tecnologias
{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologias .titulo
{
    border: 0.17rem solid var(--clrDetails);
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    cursor: pointer;
    color: white;
    width: 70%;
    text-align: center;
    transition: .5s;
}

.tecnologias .titulo:hover
{
    transform: scale(1.1);
    color: var(--clrDetails);
}

.tecnologias .titulo span
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

@media only screen and (max-width: 1000px)
{
    .tecnologias .titulo span
    {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px)
{
    .tecnologias .titulo span
    {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 650px)
{
    .tecnologias .titulo span
    {
        font-size: 1rem;
    }
}

.modal
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal.active 
{
    opacity: 1;
    visibility: visible;
}

.modal-tecnologias 
{
    box-shadow: 0 0 50px 10px var(--clrBack);
    background: var(--clrRol1);
    padding: 2.4rem;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 65%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal .modal-tecnologias .exit-modal
{
    position: fixed;
    max-width: 2rem;
    min-width: 2rem;
    border-radius: 1rem;
    top: 2rem;
    right: 2rem;
    transition: 0.2s;
    transform: rotate(45deg);
    box-shadow: 0 0 10px 5px var(--clrBack);
}

.modal .modal-tecnologias .exit-modal:hover
{
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
}

.modal-coluna-left
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-coluna-right
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal .modal-tecnologias .img-tecnologias
{
    height: 33%;
    padding-bottom: 1rem;
}

.modal-coluna-left
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-coluna-right
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal .modal-tecnologias .modal-coluna-left .descricao-tecnologias
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
}

.modal .modal-tecnologias .modal-coluna-right .descricao-tecnologias
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
    padding-left: 1rem;
}

.descricao-tecnologias span
{
    padding-left: 1rem;
}

.modal .modal-tecnologias .img-tecnologias
{
    width: 30%;
}

/* Banner */
.banner-cine 
{
    background-image: url(../assets/theater.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 11% 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-cine .box-left 
{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    color: white;
    font-family: 'Work Sans', sans-serif;
}


.banner-cine .box-right 
{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-family: 'Work Sans', sans-serif;
}

.banner-cine .box-left .titulo
{
    font-size: xx-large;
    font-weight: 700;
    padding-bottom: 1rem;
    letter-spacing: normal;
}

.banner-cine .box-left span 
{
    font-weight: 100;
    font-size: x-large;
    letter-spacing: 0.1rem;
}

.button-contact
{
    padding: 1rem 2rem;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 120%;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) .5s;
}

.button-contact:active
{
    background-color: #00000065;
    transition: 0s;
}

.button-contact:hover
{
    transform: scale(1.1);   
}

/* Scroll do Body */
body::-webkit-scrollbar 
{
    width: 12px;              
}
  
body::-webkit-scrollbar-track 
{
    background: var(--clrLogo);        
}
  
body::-webkit-scrollbar-thumb 
{  
    border-radius: 20px;      
    border: 3px solid var(--clrRol1);  
    background-color: var(--clrDetails);
    animation: scrollBody 3s linear infinite;
}

/* Monitoria */
.monitoria
{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monitoria .container
{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.monitoria .container .titulo
{
    padding-bottom: 1.4rem; 
    text-align: center;
    font-family: 'Work Sans' , sans-serif;
    font-size: 150%;
    font-weight: 900;
    color: white;
    letter-spacing: 0.05rem;
}

.column 
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.column .box
{
    width: 25%;
    color: white;
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    background-color: var(--clrRol1);
    padding: 7% 0;
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    transition: .5s;
}

.column .box-white
{
    width: 25%;
    color: var(--clrDetails);
    font-size: 100%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    background-color: white;
    border-radius: 1rem;
    padding: 7% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    transition: .5s;
}

.column .box-white:hover, .column .box:hover
{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 0 0 25px 2px white;
}

.column hr
{
    width: 4rem;
}

.column .box-white hr
{
    border: 1px solid var(--clrDetails);
    background-color: var(--clrDetails);
}

.column .box hr
{
    border: 1px solid white;
    background-color: white;
}

.monitoria .column img
{
    margin-bottom: 1rem;
    width: 1.5rem;
    height: 1.5rem;
} 

.monitoria .column span
{
    padding-top: 1rem;
}

/* Footer */
.footer
{
    background-color: var(--clrFooter);
    padding: 4rem 0;
    font-family: 'Work Sans', sans-serif;
}

.footer .container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
}

.footer .container .box-left
{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container .box-right
{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container .box-left .informacoes
{
    font-weight: 600;
    word-spacing: 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container .box-left .informacoes .titulo
{
    color: var(--clrDetails);
    padding: 0 0 1.3rem 0;
}

.footer .container .box-left .informacoes .titulo .conteudo
{
    color: white;
    font-weight: 100;
}

.footer .container .box-left .informacoes .icon
{
    color: var(--clrLogo);
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    padding: 0 0 0 0.5em;
    font-style: italic;
}

.footer .container .box-left .icon .logo
{
    color: white;
    font-weight: 1000;
    letter-spacing: 0.1rem;
}

.footer .container .box-right .titulo
{
    margin-bottom: -1.5rem;
    color: white;
    font-weight: 500;
    font-size: small;
}

.footer .container .box-right .conteudo
{
    font-size: x-large;
    letter-spacing: 1rem;
    color: var(--clrDetails);
}

.footer .container .box-right .conteudo input
{
    height: 80%;
    width: 14rem;
    padding: 0.3rem;
    border-radius: 0.15rem;
    border: 0 solid transparent;
}

.footer .container .box-right .conteudo input::placeholder
{
    color: #0000006e;
    font-family: 'Work Sans', sans-serif;
}

.footer .container .box-right .conteudo button
{
    background-color: var(--clrDetails);
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    padding: 0.4rem 1rem;
    border-radius: 0.15rem;
    cursor: pointer;
    border: 0px solid transparent;
    letter-spacing: 0.3px;
}

.footer .container .box-right .conteudo button:active
{
    background-color: var(--clrClickDetails);
}

/* Copyright */
.copyright
{
    padding: 1rem 0;
    background-color: var(--clrDetails);
}

.copyright .container
{
    width: 80%;
    margin: auto;
}

.copyright .container .titulo
{
    font-family: 'Work Sans', sans-serif;
    color: #610083;
    letter-spacing: 0.1rem;
    word-spacing: 0.1rem;
    font-weight: 400;
    font-size: 90%;
}