@import url(../variaveis.css);

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-color: var(--clrBack);
}

/* Header */
.header 
{
    background-color: var(--clrBack);
}

.header .container 
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo 
{
    margin-top: 45px;
    position: relative;
    padding: 0 1em;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo .icon 
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.3s;
    color: var(--clrBack);
    color: var(--clrLogo);
    margin-top: 3px;
}

.logo .text {
    font-size: 1.5em;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    color: white;
    line-height: 26px;
    letter-spacing: 0.2em;
    text-align: left;
    margin-left: 0.5rem;
}

.navigation 
{
    position: relative;
    width: 400px;
    height: 70px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 35px 0; 
    padding: 0 1em;
}

.navigation ul
{
    display: flex;
    width: 350px;
}

.navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clrBack);
    
}

.navigation ul li.active a .icon 
{
    transform: translateY(-32px);
}

.navigation ul li a .text 
{
    position: absolute;
    color: var(--clrBack);
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}

.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: var(--clrDetails);
    border-radius: 50%;
    border: 6px solid var(--clrBack);
    transition: 0.5s;
}

.indicator::before
{
    content: '';
    position: absolute;
    top: 50%;
    left: -25px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 10px;
    box-shadow: 0px -10px 0 0 var(--clrBack);
}

.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -25px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 10px;
    box-shadow: 0px -10px 0 0 var(--clrBack);
}

.navigation ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
} 

.navigation ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
} 

.navigation ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
} 

.navigation ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
} 

.navigation ul li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
} 

/* Carousel */
.item
{
    display: flex;
    flex-wrap: wrap;
}

.background-full
{
    background-color: var(--clrRol1);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background-full .imagem-carousel1
{
    background-image: url("../assets/Film\ rolls-pana.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 100%;
    width: 35%;
    margin: auto;
}

.background-full .texto-carousel
{
    height: 80%;
    width: 35%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.background-full .texto-carousel span
{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 150%;
    font-style: italic;
    text-shadow: 2px 2px 1px black;
}

.background-full .texto-carousel .texto-carousel-principal
{
    font-weight: bold;
    font-size: 170%;
}

.background-full .texto-carousel div
{
    background-image: url("../assets/monitor.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 358px;
    position: absolute;
    transform: scale(0.4); 
    top: 20%;
    right: 25%;
}

@media only screen and (max-width: 800px) 
{
    .background-full .texto-carousel div
    {
        transform: scale(0.3);
        right: 20%;
    }
}

.gallery .controls .autoplay-button
{
    font-size: 10px;
    margin-left: 10px;
}

/* Serviços */
.servicos 
{
    padding: 10px 0 50px 0;    
}
  
.servicos .container
{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0;
}

.servicos .container .titulo
{
    font-size: 1.2em;
    font-family: 'Work Sans', sans-serif;
    font-style: italic;
    font-weight: 100;
    color: white;
    letter-spacing: 0.1em;
    padding: 2rem 0;
}

.servicos .container .boxes 
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicos .container .boxes .box
{
    width: 20%;
    background-color: var(--clrDetails);
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem;
    flex-wrap: wrap ;
}

@media only screen and (max-width: 800px) 
{
    .servicos .container .boxes
    {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) 
{
    .servicos .container .boxes .box
    {
        width: 80%;
        margin-bottom: 2em;
    }
}

.box img 
{
    height: 50px;
    width: 50px;
}

.box h3
{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-weight: 700;
    padding: 0.8em 0;
}

.box p
{
    font-family: 'Work Sans', sans-serif;
    color: white;
    line-height: 1.3rem;
}

.servicos .premise 
{
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.servicos .premise img 
{
    width: 25rem;
    align-self: center;
}

@media only screen and (max-width: 800px)
{
    .servicos .premise img 
    {
    width: 15rem;
    align-self: center;
    }
}

@media only screen and (max-width: 900px)
{
    .servicos .premise img 
    {
    width: 10rem;
    align-self: center;
    }
}

.servicos .premise .box 
{
    width: 22rem;
    background-color: #baa0f241;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1.2rem 2.2rem;
    
}

.servicos .premise .box p
{
    font-size: 150%;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.servicos .premise .box .sign-up
{
    height: 2rem;
    background-color: var(--clrDetails);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: fit-content;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 75%;
    padding: 1.2rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 0px solid transparent;
    letter-spacing: 0.3px;
}

.servicos .premise .box .sign-up:active
{
    background-color: var(--clrClickDetails);
}

/* Caroulse MVV */
.background-full-mvv
{
    background-color: var(--clrDetails);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.background-full-mvv .texto-carousel
{
    height: 80%;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.background-full-mvv .texto-carousel span
{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 140%;
    font-weight: 600;
    
}

.background-full-mvv .texto-carousel .texto-carousel-principal
{
    font-weight: 900;
    font-size: 180%;
}

/* Tecnologias Utilizadas */
.tecnologias
{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tecnologias .titulo
{
    border: 0.17rem solid var(--clrDetails);
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    transition: 0.5s;
    cursor: pointer;
    color: white;
    width: 70%;
    text-align: center;
}

.tecnologias .titulo:hover
{
    transform: scale(1.1);
    color: var(--clrDetails);
}

.tecnologias .titulo span
{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

@media only screen and (max-width: 1000px)
{
    .tecnologias .titulo span
    {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px)
{
    .tecnologias .titulo span
    {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 650px)
{
    .tecnologias .titulo span
    {
        font-size: 1rem;
    }
}

.modal
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

.modal.active 
{
    opacity: 1;
    visibility: visible;
}

.modal-tecnologias 
{
    box-shadow: 0 0 50px 10px var(--clrBack);
    background: var(--clrRol1);
    padding: 2.4rem;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    width: 65%; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal .modal-tecnologias .exit-modal
{
    position: fixed;
    max-width: 2rem;
    min-width: 2rem;
    border-radius: 1rem;
    top: 2rem;
    right: 2rem;
    transition: 0.2s;
    transform: rotate(45deg);
    box-shadow: 0 0 10px 5px var(--clrBack);
}

.modal .modal-tecnologias .exit-modal:hover
{
    cursor: pointer;
    transform: rotate(180deg) scale(1.2);
}

.modal-coluna-left
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-coluna-right
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal .modal-tecnologias .img-tecnologias
{
    height: 33%;
    padding-bottom: 1rem;
}

.modal-coluna-left
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal-coluna-right
{
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.modal .modal-tecnologias .modal-coluna-left .descricao-tecnologias
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
}

.modal .modal-tecnologias .modal-coluna-right .descricao-tecnologias
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
    padding-left: 1rem;
}

.descricao-tecnologias span
{
    padding-left: 1rem;
}

.modal .modal-tecnologias .modal-coluna-left .img-tecnologias
{
    width: 33%;
}

.modal .modal-tecnologias .modal-coluna-right .img-tecnologias
{
    width: 33%;
}
.banner-cine {
    background-image: url(https://www.shoppingparquedasbandeiras.com.br/sites/parque-das-bandeiras/files/shopping-media/Banner%20Interna/Banner%20Cinema.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40%;
    width: 100%;
    position: absolute;
    /* transform: scale(0.4); 
    top: 20%;
    right: 25%; */
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 75%;
    color: white;
   
}

body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: var(--clrGradi);        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--clrDetails);    
    
    border-radius: 20px;      
    border: 3px solid var(--clrGradi);  
  }
.banner-cine .frase-1 {
    padding-top: 10%;
    font-size: 250%;
    margin-left: 10%;
}
.banner-cine .frase-2 {
    margin-top: 2%;
    font-size: 80%;
    margin-left: 10%;
}
.banner-cine .contato-button{
    padding: 1%;
    align-items: center;
    text-align: center;
    border: 2px solid white;
    color: white;
    font-size: 100%;
    display: inline-block;
    margin-left: 68%;
    margin-right: 11%;
    cursor: pointer;
    margin-bottom: 7%;
        
    }                                                                                                               
                                                                                                                                                                                                                                                                                                                                  
    /* .banner-cine button:active{
        background-color: var(--clrClickDetails);
    } */
    .banner-cine span{
        font-size: large;
    }